.containerInput{
  display: flex;
}

input{
  width: 50%;
  margin-right: 40px;
  height: 25px;
  align-self: center;
  border: #cc0003 solid 1px;
  border-radius: 10px;
  padding: 5px;
  color: #660002
}
input::placeholder{
  color: #660002;
}

input:focus{
  border: #cc0003 solid 1px;
}

.iconSearch{
  width: 20px;
  margin: 5px;
}


